
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff'),
         url('../fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }



body {
    font-family: 'Satoshi-Bold', sans-serif;
}

